.packageSale {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.makeSpace {
  padding-bottom: 200px;
  transition: 0.5s;
}

.noSpace {
  padding-bottom: 0px;
  transition: 0.5s;
}

.saleButton {
  background-color: rgb(108, 116, 158);
  padding: 10px 15px;
  border-radius: 10px;
  color: beige;
}

.saleButton:hover {
  transition: .8s;
  cursor: pointer;
  background-color: rgb(221, 212, 215);
  color: rgb(108, 116, 158);
}

.packageBanner {
  text-align: center;
}

@media (max-width:426px) {
  .width1024 {
    width: 100%;
  }
}

@media (max-width:390px) {
  .width1024 {
    width: 100%;
  }
}
@media (max-width:320px) {
  .width1024 {
    width: 100%;
  }
}