.logo {
  /* width: 120px; */
  margin: 5px;
}

header {
  width: 100%;
  margin-top: 5px;
  /* box-shadow: 0px 5px 5px rgb(204, 204, 204); */
  /* box-shadow: 10px 5px 5px red; */
  /* opacity: 0.5; */
}

.h1 {
  display: inline-block;
  position: absolute;
  top: 110;
}

.titleTop {
  margin-top: 5px;
  color: rgb(40, 54, 107);
  font-size: 1.5em;
}

.titleBot {
  color: rgb(173, 145, 153);
  font-size: .75em;
}

/* ##### Nav ##### */

.navHeader {
  float: right;
  padding-right: 20px;
  padding-top: 35px;
  
}

/* ##### Nav ##### */

.navContainer > span:first-child {
  margin-left: 15px;
}

.navContainer > span:last-child {
  margin-right: 15px;
}

.linkComponent {
  text-decoration: none;
  color: rgb(241, 241, 241);
  padding: 15px 30px;
}

.linkComponent:hover {
  background-color: rgb(174, 174, 175);
  color: rgb(78, 77, 75);
}

.navContainer {
  display: inline-block;
  border-radius: 50px;
  padding: 15px 0px;
  text-shadow: 1px 1px #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(159, 161, 161, 0.3);
}

/* ##### Media Nav ##### */

.navMobileContainer {
  display: none;
  padding: 15px 0px;
  /* text-shadow: 1px 1px #000000; */
  background-color: rgba(159, 161, 161, 1);

  position: absolute;
  top: 0px;
  left: 0px;
  height: 140vh;
  width: 100%;
  z-index: 3;
}

.navLinkComponentContainer {
  padding: 30px;
  margin: 15px;
  
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.navLinkComponentContainer:first-child {
  margin-top: 150px;
}

.navLinkComponent {
  text-decoration: none;
  color: rgb(241, 241, 241);
  padding: 15px 30px;

  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: rgb(221, 212, 215);
  color: #000000;
}

.hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right:50px;
  /* background-color: #d49292; */
  padding: 4px;
  z-index: 20;
  
}

.hamburger > div {
  /* display: none; */
  padding: 3px;
  background-color: rgb(241, 241, 241);
  margin-bottom: 5px;
  width: 30px;
  border-radius: 500px;
}

/* .open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
} */


.closed {
  display: none;
}
@media only screen and (max-width: 1400px) {
  .navContainer {
    display: none;
  }

  .bookNow {
    display: none;
  }

  .navMobileContainer {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

/* ##### Book App Link ##### */
.bookAppLink {
  margin: 20px;
  border-radius: 10px;
}
